.nav {
  position: sticky;
  position: -webkit-sticky;
  height: 50%;
  flex-direction: column;
  margin-top: 70px;
  text-align: center;
  padding: 10px;
  width: 150px;
  word-wrap: break-word;
  text-align: left;
}

.content {
  vertical-align: left;
  margin-right: 50px;
  margin-top: 40px;
}

.app {
  display: flex;
  margin-bottom: 200px;
}

h4 {
  color: green;
}

.title {
  margin: 10px;
  padding-right: 30px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(202, 210, 218);
  height: 50px;
  text-align: center;
  flex-direction: row;
}

a {
  color: black;
}

a.active {
  color: grey;
}

li {
  font-size: medium;
}
