.nav {
  background-color: beige;
  position: sticky;
  position: -webkit-sticky;
  height: 100%;
  flex-direction: column;
}

.content {
  vertical-align: left;
  margin-left: 100px;
  margin-right: 50px;
}

.app {
  display: flex;
  flex-direction: row;
}
